#Ignorar django venv
django/

# Ignorar bases de datos locales
db.sqlite3

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar carpetas de migraciones innecesarias
*.log
*.migrations/